.banner {
    display: flex;
    background-color: lightblue;
    padding: 20px;
}
.banner-content {
    flex: 1;
    text-align: center;
}
.banner-img-container {
    width: 100%;
    
}
.banner-img-container {
    flex: 1;
}

.banner-content button {
    background-color: rgb(207, 255, 159);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;

}
.banner-content button:hover {
    background-color: antiquewhite;
}

body {
    border: 2px solid rgb(88, 46, 240);
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}